@import '../../../styles/index.scss';

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 80px;
}

.wrapper2 {
  margin-top: 80px;
   margin-bottom: 80px;
}
.questionbutton {
    margin-top: 20px;
    margin-bottom: 10px;
}

.question {
    color: aliceblue;
    margin-top: 100px;
    margin-top: 20px;
}


 .start {
        
        position: fixed;
        top: 20px;
        left: 30px;
        font-size: 10px;
        text-transform: uppercase;

        svg {
            margin-right: 5px;
        }

        a {
            color: $light;

        }
    }