@import '../../../styles/index.scss';


.button {
    display: block;
    background-color: $black;
    color: $light;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;

    &:hover {
        color: $light;
        text-decoration: none;
        letter-spacing: 5px;
    }
}

.outline {
    background-color: transparent;
    color: $main;
    border: 3px solid $main;

    &:hover {
        color: $main;
        text-decoration: none;
        letter-spacing: 1.5px;
    }
}

.light {
    color: $light;
    border-color: $light;

    &:hover {
        background-color: $main;
        color: $light;
        border-color: $light;
    }
}

.success {
    color: $success;
    border-color: $success;

    &:hover {
        color: $success;
        border-color: $success;
    }
}

.button.loading {
    cursor: wait;
    background-color: transparent;
}

.small {
    padding: 10px;
    font-size: 10px;
    letter-spacing: 1.5px;

    &:hover {
        letter-spacing: 1px;
    }
}

.active {
    background-color: $main;
    color: $light;
    border-color: $light;

    &:hover {
        letter-spacing: 1px;
        color: $light;
    }
}