@import '../../../styles/index.scss';


.button {
    display: block;
    background-color: $black;
    color: $light;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;

    &:hover {
        color: $light;
        text-decoration: none;
        letter-spacing: 5px;
    }
}

.outline {
    background-color: white;
    color: $main;
    border: 3px solid $main;

    &:hover {
        color: $main;
        text-decoration: none;
        letter-spacing: 5px;
    }
}