@import '../../styles/index.scss';

.wrapper {
    margin-top: 200px;
    padding: 50px;

    h3 {
        color: $light;
    }

    .start {
        font-size: 10px;
        text-transform: uppercase;

        svg {
            margin-right: 5px;
        }

        a {
            color: $light;

        }
    }
}