@import '../../../styles/index.scss';

.title {
    color: $light;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 auto;
}

.subtitle {
    color: $light;
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
}

.name {
    color: $light;
    text-transform: uppercase;
    font-size: 25px;
}

.row {
    display: block;
    background-color: transparent;
    color: $light;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s;
    text-align: center;
    letter-spacing: 2px;
    border: 4px solid $light;
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
        color: $light;
        text-decoration: none;
        letter-spacing: 5px;
    }

    p {
        margin: 0;
    }
}

.modal {
    div {
        background-color: black;
        color: white;
    }
}

.close {
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.rated {
    font-style: italic;
    opacity: 0.5;
    color: $success;
    border-color: $success;

    p.name, code.subtitle {
        color: $success;
    }

    &:hover {
        letter-spacing: 2px;
    }
}

.notStarted {
    &:hover {
        letter-spacing: 2px;
    }
}