@import '../../../styles/index.scss';

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


 .start {
        
        position: fixed;
        top: 20px;
        left: 30px;
        font-size: 10px;
        text-transform: uppercase;

        svg {
            margin-right: 5px;
        }

        a {
            color: $light;

        }
    }