@import '../../../styles/index.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 20px 0;

    small.label {
        position: absolute;
        top: 18px;
        left: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        transition: .2s;
        color: $light;
    }

    small.error {
        color: red;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .input {
        border: none;
        border-bottom: 3px solid $light;
        padding: 15px 20px 15px 150px;
        transition: .2s;
        outline: none;
        background-color: $light;
        color: $light;

        &.error {
            border-color: red;
        }

        &:focus {
            padding: 15px 20px 15px;
        }
    }

    .input:focus + small.label {
        transform: translateY(-30px);
        font-size: 12px;
    }

    .outline {
        background-color: transparent;
    }
}