.switch-wrapper {
  position: relative;
  width: 100vw;
}

.switch-wrapper > div {
  position: absolute;
  margin: 0 auto;
}

.loaderWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}